.taskMade {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 4rem;
}

.taskCreated, .taskCompleted{
    display: flex;
}

.taskCreated p {
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--blue);

    display: inline-block;

    margin-right: 0.5rem;
}

.taskCreated span {
    font-size: 0.75rem;
    color: var(--white);

    background: var(--gray-400);
    border-radius: 999px;
    padding: 0.125rem 0.5rem;
}

.taskCompleted p {
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--purple);

    display: inline-block;
    margin-right: 0.5rem;
}

.taskCompleted span {
    font-size: 0.75rem;
    color: var(--white);

    background: var(--gray-400);
    border-radius: 999px;
    padding: 0.125rem 0.5rem;
}

.taskIsNoneTrue img{
    margin-bottom: 1rem;
}

.taskIsNone{
    visibility: hidden;
    max-height: 0;
}

.taskIsNoneTrue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 4rem 1.5rem;
    line-height: 1.6;

    border-top: 1px solid var(--gray-400);
    border-radius: 8px;

    margin-top: 1.5rem;

    color: var(--gray-300);
}

.taskIsNone p {
    color: var(--gray-300);
}

.taskIsNone strong {
    margin-top: 1rem;
    color: var(--gray-300);
}


.formCreateTask {
    margin-top: -1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.formCreateTask input {
    color: var(--gray-300);
    background: var(--gray-500);

    border: 0;
    border-radius: 8px;

    padding: 1rem;
    width: 100%;
}

.createTaskButton {
    background: var(--darkBlue);
    color: var(--white);
    font-size: 0.875rem;
    font-weight: 700;

    padding: 1rem;
    border-radius: 8px;
    border: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;

    cursor: pointer;

    transition: 0.1s;
}

.createTaskButton:disabled{
    cursor: not-allowed;
    opacity: 0.7;
}

.createTaskButton:not(:disabled):hover {
    background: var(--blue);
}

.hasTask {
    margin-top: 1.5rem
}

.hasTask button{
    background: transparent;
    color: var(--gray-300);
    border: 0;

    cursor: pointer;
}

.hasTask button:hover{
    color: var(--danger);
    transition: 0.2s;
}

.hasTask p {
    font-size: 0.875rem;
    color: var(--gray-100);
    line-break: anywhere;
}

.hasTaskDone {
    margin-top: 1.5rem
}

.hasTaskDone button{
    background: transparent;
    color: var(--gray-300);
    border: 0;

    cursor: pointer;
}

.hasTaskDone button:hover{
    color: var(--danger);
    transition: 0.2s;
}

.hasTaskDone p {
    font-size: 0.875rem;
    color: var(--gray-300);
    line-break: anywhere;

    text-decoration-line: line-through;
}

.taskModel {
    display: flex;
    justify-content: space-between;
    background: var(--gray-500);
    border-radius: 8px;
    align-items: flex-start;

    padding: 1rem;

    gap: 0.75rem;
}